#!/usr/bin/env bash

# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{ if eq .chezmoi.os "linux" -}}
{{ if (or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian")) -}}

echo "Checking for missing apt packages ..."
# Identify apt packages from  packages.yaml are not installed
MISSING_APT_PACKAGES=()
{{ range .packages.apt -}}
if ! dpkg -s {{ . }} >/dev/null 2>&1; then
    MISSING_APT_PACKAGES+=({{ . }})
fi
{{ end -}}


# Install missing apt packages
if [ ${#MISSING_APT_PACKAGES[@]} -gt 0 ]; then
    echo "Installing: ${MISSING_APT_PACKAGES[*]}"
    sudo apt-get update
    for package in "${MISSING_APT_PACKAGES[@]}"; do
        echo "Installing package $package ..."
        sudo apt-get install -y "$package" || echo "Failed to install $package (may not exist in repos)"
    done
else
    echo "All apt packages are already installed."
fi


# 3. Snap Package Management
{{ if .packages.snap -}}
echo "Checking for missing snap packages..."
{{ range .packages.snap -}}
if ! snap list {{ .name }} >/dev/null 2>&1; then
    echo "Installing snap: {{ .name }} ..."
    sudo snap install {{ .name }} {{ if .classic }}--classic{{ end }}
fi
{{ end -}}
{{ end -}}


# batcat needs to be linked as bat command
if command -v batcat >/dev/null 2>&1; then
    if [[ ! -f "$HOME/.local/bin/bat" ]]; then
        echo "Linking bat to batcat ..."
        mkdir -p "$HOME/.local/bin"
        ln -s "$(which batcat)" "$HOME/.local/bin/bat"
    fi
fi


{{ if has "fastfetch" .packages.apt -}}
# If fasfatch is still not installed add its PPA and try installing again
if ! fastfetch --version > /dev/null 2>&1; then
  echo "fastfetch not installed. Adding PPA and trying again ..."
  sudo add-apt-repository -y ppa:zhangsongcui3371/fastfetch
  sudo apt-get update
  sudo apt-get install -y fastfetch
fi
{{ end }}

# --- Scripted Installs ---
{{ if .packages.script -}}
{{ range .packages.script -}}
echo "Running update script for {{ .name }}..."
"{{ $.chezmoi.sourceDir }}/{{ .command }}"
{{ end -}}
{{ end -}}

{{ end -}}
{{ end -}}

